doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title {{ site.title }} by {{ site.author }}
		base(href="/")

		meta(name="viewport"
		content="width=device-width, initial-scale=1")
		meta(content="{{ site.color }}"
		name="theme-color")

		link(rel="icon"
		type="image/x-icon"
		href="favicon.ico")
		link(href="{{ site.baseUrl }}"
		rel="canonical")
	body
		sudoku-app
